/*foundation*/
html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul, li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*layout*/
@media only screen and (min-width: 1025px) {
  .l-main {
    display: flex;
  }
}

.l-sidebar {
  overflow-y: scroll;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 100%;
  transition: all .6s;
  z-index: 10;
}

@media only screen and (min-width: 1025px) {
  .l-sidebar {
    width: 20%;
    position: static;
    overflow-y: hidden;
  }
}

.l-sidebar.active {
  left: 0;
  z-index: 10;
}

/*object-component*/
.c-btn--archive {
  display: block;
  margin: 0 auto;
  width: 16.3rem;
  height: 4.2rem;
  background-color: #FFFFFF;
  color: #707070;
  font-size: 1.6rem;
  border-radius: 5rem;
  margin-top: 4rem;
}

@media only screen and (min-width: 1025px) {
  .c-btn--archive {
    width: 20.2rem;
    height: 5.5rem;
    margin-top: 7rem;
  }
}

.c-brunch-menu {
  display: flex;
  justify-content: center;
}

.c-brunch-menu__pic {
  position: relative;
}

.c-brunch-menu__pic img {
  width: calc(100vw - 10vw);
}

@media only screen and (min-width: 600px) {
  .c-brunch-menu__pic img {
    width: calc(50vw - 6vw);
  }
}

@media only screen and (min-width: 1025px) {
  .c-brunch-menu__pic img {
    width: calc(40vw - 5vw);
    height: auto;
    max-width: 550px;
  }
}

.c-brunch-menu__pic h2 {
  position: absolute;
  top: 0;
  left: 0;
  color: #EAEAEA;
  font-size: 4.1rem;
  padding: 1.1rem 0 0 1rem;
  font-family: 'Roboto';
}

.c-brunch-menu__pic h2:after {
  content: "";
  display: block;
  border-bottom: solid 0.4rem #FFFFFF;
  padding-bottom: 1.9rem;
  width: 3.3rem;
}

.c-brunch-menu__pic__square1, .c-brunch-menu__pic__square2 {
  display: inline-block;
  height: auto;
  width: calc(100% - 10%);
  background-color: rgba(255, 255, 255, 0.8);
  color: #3C2A10;
  opacity: 0.8;
  padding: 0 1rem;
  font-family: 'M PLUS 1p';
  text-align: left;
}

.c-brunch-menu__pic__square1 dt, .c-brunch-menu__pic__square2 dt {
  padding: 1.9rem 0;
  font-size: 2.2rem;
  font-weight: bold;
}

.c-brunch-menu__pic__square1 dd, .c-brunch-menu__pic__square2 dd {
  font-size: 1.6rem;
}

.c-brunch-menu__pic__square1 {
  position: absolute;
  top: 30%;
  left: 5%;
}

.c-brunch-menu__pic__square2 {
  position: absolute;
  top: 60%;
  left: 5%;
}

@media only screen and (min-width: 600px) {
  .c-brunch-menu {
    width: 50%;
  }
}

.c-sidebar__menu > li {
  font-size: 1.5rem;
}

.c-sidebar__menu > li > a {
  font-weight: bold;
}

.c-sidebar__menu > li ul {
  font-size: 1.2rem;
  padding: 1rem 0 2.8rem 1.5rem;
}

.c-sidebar__menu > li ul li {
  margin-top: 2.3rem;
}

.c-card {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 600px) {
  .c-card--pic {
    width: 50%;
  }
}

.c-card--intro {
  padding: 2.3rem 1.7rem 4.5rem;
  background-color: #3C2B1C;
  color: #FFFFFF;
  height: auto;
}

.c-card--intro h3 {
  font-size: 2rem;
  text-align: left;
  margin: 2.3rem 0 2.3rem;
}

@media only screen and (min-width: 1025px) {
  .c-card--intro h3 {
    font-size: 3.6rem;
  }
}

.c-card--intro h4 {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 1025px) {
  .c-card--intro h4 {
    font-size: 2.4rem;
  }
}

.c-card--intro p {
  font-size: 1.6rem;
  text-align: left;
  margin-right: 5.6rem;
}

@media only screen and (min-width: 600px) {
  .c-card--intro {
    width: 50%;
  }
}

@media only screen and (min-width: 600px) {
  .c-card {
    display: flex;
  }
}

/*object-project*/
.p-access {
  position: relative;
  background-color: black;
  height: auto;
  width: 100%;
}

.p-access__map {
  object-fit: cover;
  width: 100%;
}

.p-access__text {
  background: linear-gradient(rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0.29) 60%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.p-access__text h2 {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 3rem;
  color: #FFFFFF;
  text-align: left;
  margin-left: 10%;
  padding-top: 4rem;
}

.p-access__text h2::after {
  content: "";
  display: block;
  border-bottom: solid 0.2rem #FFFFFF;
  padding-bottom: 2rem;
  width: 7.5rem;
}

.p-access__text p {
  margin: 0 auto;
  padding: 2rem 0;
  font-size: 1.4rem;
  font-family: 'M PLUS 1p', sans-serif;
  color: #FFFFFF;
  line-height: 2.3;
  width: 80%;
}

@media only screen and (min-width: 600px) {
  .p-access__text {
    background: rgba(0, 0, 0, 0.29);
  }
}

@media only screen and (min-width: 1025px) {
  .p-access__text {
    width: 60%;
    height: 100%;
  }
}

.p-contents__brunch-menu {
  padding: calc(2rem + 2%) 2rem calc(2rem + 2%);
}

@media only screen and (min-width: 600px) {
  .p-contents__brunch-menu {
    display: flex;
    justify-content: space-between;
  }
}

.p-contents--archive {
  padding: 2.1rem 2rem 0;
}

.p-contents--archive h2 {
  color: #3C2A10;
  font-size: 2.8rem;
  margin: 3rem 0;
  text-align: left;
}

.p-contents--archive > p {
  color: #3C2A10;
  font-size: 1.6rem;
  margin-bottom: 2.2rem;
}

.p-contents--archive__menu__card--cheeseburger img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 1025px) {
  .p-contents--archive {
    padding: 2.1rem 5rem 0;
  }
}

.p-contents--single {
  margin: 0 2rem;
  color: #3C2A10;
}

.p-contents--single__section {
  text-align: left;
}

.p-contents--single__section h2 {
  font-size: 2.8rem;
  margin: 3.1rem 0;
}

@media only screen and (min-width: 600px) {
  .p-contents--single__section h2 {
    font-size: 3.6rem;
  }
}

.p-contents--single__section p {
  font-size: 1.6rem;
  margin-bottom: 3.1rem;
}

.p-contents--single__section h3 {
  font-size: 2.4rem;
  margin-bottom: 3.1rem;
}

@media only screen and (min-width: 600px) {
  .p-contents--single__section h3 {
    font-size: 2.8rem;
  }
}

.p-contents--single__section h4 {
  font-size: 2rem;
  margin-bottom: 3.1rem;
}

.p-contents--single__section h5 {
  font-size: 2rem;
  margin-bottom: 3.1rem;
}

.p-contents--single__section h6 {
  font-size: 2rem;
  margin-bottom: 3.1rem;
}

.p-contents--single__quote {
  background-color: #F5F5F5;
  font-size: 1.6rem;
  padding: 2rem;
}

.p-contents--single__quote p {
  margin-bottom: 3.2rem;
}

.p-contents--single__quote div {
  padding-bottom: 3.1rem;
}

.p-contents--single__menu__top {
  background-image: url(../../../images/single_article_top_img.png);
  width: 100%;
  height: auto;
  background-size: 100%;
  margin: 3rem 0;
}

.p-contents--single__menu__top::before {
  display: block;
  content: "";
  padding-top: 38%;
}

.p-contents--single__menu__article li {
  margin-bottom: 3rem;
  display: flex;
}

.p-contents--single__menu__article li p {
  width: 56%;
}

.p-contents--single__menu__article li p:first-of-type {
  margin-left: 1rem;
}

.p-contents--single__menu__article li p:last-of-type {
  margin-right: 1rem;
}

.p-contents--single__menu__article__pic {
  background-image: url(../../../images/single_article_img.png);
  background-size: contain;
  width: 44%;
}

@media only screen and (min-width: 600px) {
  .p-contents--single__menu__article__pic {
    background-image: url(../../../images/single_article_tab_img.png);
    background-size: contain;
    width: 44%;
    height: 19rem;
  }
}

@media only screen and (min-width: 1025px) {
  .p-contents--single__menu__article__pic {
    background-image: url(../../../images/single_article_pc_img.png);
    background-size: contain;
    width: 44%;
    height: 35rem;
  }
}

.p-contents--single__menu__bottom {
  background-image: url(../../../images/single_article_bottom_img.png);
  background-size: contain;
  background-position: center;
  height: 20rem;
  margin: 3rem 0;
}

@media only screen and (min-width: 600px) {
  .p-contents--single__menu__bottom {
    background-image: url(../../../images/single_article_bottom_tab_img.png);
    height: 35rem;
  }
}

.p-contents--single__menu__picture {
  margin-top: 2rem;
  background-image: url(../../../images/single_menu_img.png);
  height: auto;
  width: 100%;
  background-size: 100%;
}

@media only screen and (min-width: 600px) {
  .p-contents--single__menu__picture {
    width: 49%;
  }
}

@media only screen and (min-width: 1025px) {
  .p-contents--single__menu__picture {
    width: 32%;
  }
}

.p-contents--single__menu__picture::before {
  display: block;
  content: "";
  padding-top: 58%;
}

@media only screen and (min-width: 600px) {
  .p-contents--single__menu ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.p-contents--single__lists {
  text-align: left;
  font-size: 1.6rem;
  color: #3C2A10;
}

.p-contents--single__list {
  margin: 4rem 0;
}

.p-contents--single__list ul {
  margin-bottom: 4rem;
}

.p-contents--single__list ul:nth-of-type(2) {
  margin-left: 3.8rem;
}

.p-contents--single__space {
  background-color: #F5F5F5;
  width: 100%;
  height: 23.7rem;
}

.p-contents--single__space::before {
  display: block;
  content: "";
  padding-top: 70%;
}

.p-contents--single__table {
  color: #707070;
  border-collapse: collapse;
  margin-top: 3rem;
  font-size: 1.6rem;
  width: 100%;
}

.p-contents--single__table tr td:first-of-type {
  padding: 2rem 2rem;
}

.p-contents--single__table tr td:last-of-type {
  padding: 2rem 4rem;
}

.p-contents--single__table tr td {
  border: .1rem solid #707070;
}

.p-contents--single__btn {
  height: 8rem;
  width: 33.5rem;
  color: #3C2A10;
  font-weight: bold;
  font-size: 1.6rem;
  background: linear-gradient(180deg, #F2EDE9, #DED8D3);
  border-radius: 15px;
  border: bold .2rem #707070;
  margin: 2rem 0;
}

.p-contents--single__bold {
  text-align: left;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 17.7rem;
}

.p-footer {
  color: #ffffff;
  text-align: center;
  background-image: url(../../../images/front-page/front-page_footer_brown_img.png);
  background-size: cover;
}

.p-footer__menu {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.p-footer__menu li {
  font-size: 2rem;
}

.p-footer__menu--shop {
  margin-right: 1.5rem;
}

.p-footer__menu--history {
  position: relative;
  margin-left: 1.5rem;
}

.p-footer__menu--history:before {
  position: absolute;
  content: "";
  width: .2rem;
  right: 100%;
  background-color: #FFFFFF;
  height: 2rem;
  margin: 0 1.4rem;
  top: .5rem;
}

.p-footer__copyright {
  font-size: 1.4rem;
  padding-top: 3.4rem;
}

.p-main {
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 1025px) {
  .p-main {
    text-align: initial;
    width: 80%;
  }
}

.p-main-header {
  background-color: #FFF7EF;
}

@media only screen and (min-width: 1025px) {
  .p-main-header {
    display: flex;
    justify-content: space-between;
  }
}

.p-main-header__btn {
  font-weight: bold;
  font-size: 2rem;
  float: right;
  color: #707070;
  font-family: 'Roboto';
  margin: 1.4rem 1.4rem 0 0;
}

@media only screen and (min-width: 1025px) {
  .p-main-header__btn {
    display: none;
  }
}

.p-main-header h1 {
  font-size: 4rem;
  font-family: 'Roboto';
  color: #707070;
  margin: 3.9rem 0 3.9rem 0;
  clear: both;
}

@media only screen and (min-width: 1025px) {
  .p-main-header h1 {
    padding-left: 2rem;
  }
}

@media only screen and (min-width: 1025px) {
  .p-main-header .p-search-form {
    display: flex;
    align-items: center;
    padding-right: 2rem;
  }
}

.p-main-header .p-search-form .p-search-form__keyword {
  height: 4.6rem;
  width: 25rem;
  background-color: #FFFFFF;
  border: solid .1rem #707070;
  border-radius: 1rem;
  margin-right: 1rem;
  color: #707070;
  margin-bottom: 3.9rem;
}

@media only screen and (min-width: 1025px) {
  .p-main-header .p-search-form .p-search-form__keyword {
    transform: translateY(45%);
  }
}

.p-main-header .p-search-form .p-search-form__submit {
  height: 4.6rem;
  width: 7.8rem;
  background: linear-gradient(#F2EDE9, #DED8D3);
  border: solid .1rem #707070;
  border-radius: 1rem;
  font-family: 'M PLUS 1p', sans-serif;
  color: #707070;
  font-size: 1.6rem;
}

.p-main.active {
  position: fixed;
}

.p-sidebar--narrow {
  margin-left: 10%;
  background-color: #F2EDE9;
  color: #707070;
}

@media only screen and (min-width: 600px) {
  .p-sidebar--narrow {
    margin-left: 60%;
  }
}

@media only screen and (min-width: 1025px) {
  .p-sidebar--narrow {
    margin-left: 0;
  }
}

.p-sidebar--narrow__close-btn {
  cursor: pointer;
  float: right;
  width: 3.3rem;
  height: 3.3rem;
  margin: 1rem 1rem 0 0;
}

@media only screen and (min-width: 1025px) {
  .p-sidebar--narrow__close-btn {
    display: none;
  }
}

.p-sidebar--narrow__close-btn span {
  display: block;
  background-color: #707070;
  width: .4rem;
  height: 3.3rem;
}

.p-sidebar--narrow__close-btn span:nth-of-type(1) {
  transform: translateX(1.45rem) rotate(45deg);
}

.p-sidebar--narrow__close-btn span:nth-of-type(2) {
  transform: translateX(1.45rem) translateY(-3.3rem) rotate(-45deg);
}

.p-sidebar--narrow__title {
  display: none;
}

@media only screen and (min-width: 600px) {
  .p-sidebar--narrow__title {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .p-sidebar--narrow__title {
    display: block;
    color: #707070;
    font-size: 2.5rem;
    margin-left: 4.6rem;
    padding-top: 6rem;
    font-weight: bold;
  }
}

.p-sidebar--narrow__menu {
  margin-left: 4.6rem;
  padding-top: 19rem;
}

@media only screen and (min-width: 1025px) {
  .p-sidebar--narrow__menu {
    padding-top: 6rem;
  }
}

.p-page-btn {
  height: 11.4rem;
  padding: 6.1rem 2rem 3.1rem;
  font-size: 1.6rem;
  color: #707070;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 600px) {
  .p-page-btn {
    align-items: center;
    justify-content: center;
  }
}

.p-page-btn--num {
  display: none;
}

@media only screen and (min-width: 600px) {
  .p-page-btn--num {
    width: 3rem;
    height: 3rem;
    border: solid #707070 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
  }
}

@media only screen and (min-width: 600px) {
  .p-page-btn--num a {
    display: block;
    font-family: 'Roboto', sans-serif;
  }
}

@media only screen and (min-width: 600px) {
  .p-page-btn--num:nth-of-type(3) {
    margin-left: 1.5rem;
  }
}

@media only screen and (min-width: 600px) {
  .p-page-btn--num:hover {
    background-color: #3C2B1C;
    color: #FFFFFF;
  }
}

.p-page-btn--prev {
  transform: translateX(-21vw);
}

@media only screen and (min-width: 600px) {
  .p-page-btn--prev {
    display: none;
  }
}

.p-page-btn--next {
  transform: translateX(21vw);
}

@media only screen and (min-width: 600px) {
  .p-page-btn--next {
    display: none;
  }
}

.p-top-img--front-page {
  position: relative;
  height: auto;
  width: 100%;
  align-items: center;
}

.p-top-img--front-page img {
  height: auto;
  width: 100vw;
}

.p-top-img--front-page h2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: #FFFFFF;
  margin-left: 4rem;
}

@media only screen and (min-width: 600px) {
  .p-top-img--front-page h2 {
    font-size: 4rem;
  }
}

.p-top-img--archive {
  position: relative;
  background-color: #000000;
}

.p-top-img--archive h2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #FFFFFF;
  font-size: 4rem;
  margin-left: 4rem;
}

@media only screen and (min-width: 1025px) {
  .p-top-img--archive h2 {
    font-size: 6rem;
  }
}

.p-top-img--archive img {
  display: block;
  width: 100%;
  height: auto;
}

.p-top-img--single {
  background: url(../../../images/single_top_img.png) no-repeat center center;
  background-color: #000000;
  background-size: cover;
  height: 28.5rem;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .p-top-img--single {
    height: 50rem;
    background: url(../../../images/single_top_tab_img.png) no-repeat center center;
    background-size: cover;
  }
}

@media only screen and (min-width: 1025px) {
  .p-top-img--single {
    background: url(../../../images/single_top_pc_img.png) no-repeat center center;
    background-color: #000000;
    background-size: cover;
  }
}

.p-top-img--single h2 {
  color: #FFFFFF;
  font-size: 4rem;
  margin-left: 4rem;
}

/*object-utility*/
/*# sourceMappingURL=style.css.map */