/*foundation*/
html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul, li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*layout*/
.l-main__sidebar {
  overflow-y: scroll;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: -120%;
  transition: all .6s;
  z-index: 10;
}

@media only screen and (min-width: 1025px) {
  .l-main__sidebar {
    width: 36.7rem;
    height: auto;
    right: auto;
    position: static;
    overflow-y: hidden;
  }
}

.l-main__sidebar--right {
  margin-left: 10%;
  height: 200%;
  background-color: #F2EDE9;
  color: #707070;
}

@media only screen and (min-width: 600px) {
  .l-main__sidebar--right {
    margin-left: 60%;
  }
}

@media only screen and (min-width: 1025px) {
  .l-main__sidebar--right {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1025px) {
  .l-main {
    display: flex;
  }
}

.l-main__sidebar.active {
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/*object-component*/
.c-brunch-menu {
  position: relative;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .c-brunch-menu {
    width: 50%;
  }
}

.c-brunch-menu h2 {
  position: absolute;
  top: 0;
  left: 0;
  color: #EAEAEA;
  font-size: 4.1rem;
  padding: 1.1rem 0 0 1rem;
  font-family: 'Roboto';
}

.c-brunch-menu h2:after {
  content: "";
  display: block;
  border-bottom: solid 0.4rem #FFFFFF;
  padding-bottom: 1.9rem;
  width: 3.3rem;
}

.c-brunch-menu--square1, .c-brunch-menu--square2 {
  display: inline-block;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.8);
  color: #3C2A10;
  width: 31.4rem;
  height: 16.3rem;
  opacity: 0.8;
  padding: 0 1rem;
}

.c-brunch-menu--square1 dt, .c-brunch-menu--square2 dt {
  padding: 1.9rem 0;
  font-size: 2.2rem;
  font-family: 'M PLUS 1p';
  text-align: left;
  font-weight: bold;
}

.c-brunch-menu--square1 dd, .c-brunch-menu--square2 dd {
  font-size: 1.6rem;
  font-family: 'M PLUS 1p';
  text-align: left;
}

.c-brunch-menu--square1 {
  display: inline-block;
  width: 90%;
  position: absolute;
  top: 29.7rem;
}

.c-brunch-menu--square2 {
  display: inline-block;
  width: 90%;
  position: absolute;
  top: 46.9rem;
}

.c-sidebar__menu > li {
  font-size: 1.5rem;
}

.c-sidebar__menu > li > a {
  font-weight: bold;
}

.c-sidebar__menu > li ul {
  font-size: 1.2rem;
  margin: 1rem 0 2.8rem 1.5rem;
}

.c-sidebar__menu > li ul li {
  margin-top: 2.3rem;
}

/*object-project*/
.p-main-left {
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 1025px) {
  .p-main-left {
    text-align: initial;
  }
}

.p-main-left__header {
  background-color: #FFF7EF;
}

@media only screen and (min-width: 1025px) {
  .p-main-left__header {
    display: flex;
    justify-content: space-between;
  }
}

.p-main-left__header__btn {
  font-weight: bold;
  font-size: 2rem;
  float: right;
  color: #707070;
  font-family: 'Roboto';
  margin: 1.4rem 1.4rem 0 0;
}

@media only screen and (min-width: 1025px) {
  .p-main-left__header__btn {
    display: none;
  }
}

.p-main-left__header h1 {
  font-size: 4rem;
  font-family: 'Roboto';
  color: #707070;
  margin: 3.9rem 0 3.9rem 0;
  clear: both;
}

@media only screen and (min-width: 1025px) {
  .p-main-left__header h1 {
    padding-left: 2rem;
  }
}

@media only screen and (min-width: 1025px) {
  .p-main-left__header .p-search-form {
    display: flex;
    align-items: center;
    padding-right: 2rem;
  }
}

.p-main-left__header .p-search-form .p-search-form__keyword {
  position: relative;
  height: 4.6rem;
  width: 25rem;
  background-color: #FFFFFF;
  border: solid .1rem #707070;
  border-radius: 1rem;
  margin-right: 1rem;
  color: #707070;
  margin-bottom: 3.9rem;
}

@media only screen and (min-width: 1025px) {
  .p-main-left__header .p-search-form .p-search-form__keyword {
    transform: translateY(45%);
  }
}

.p-main-left__header .p-search-form .p-search-form__submit {
  height: 4.6rem;
  width: 7.8rem;
  background: linear-gradient(#F2EDE9, #DED8D3);
  border: solid .1rem #707070;
  border-radius: 1rem;
  font-family: 'M PLUS 1p', sans-serif;
  color: #707070;
  font-size: 1.6rem;
}

@media only screen and (min-width: 1025px) {
  .p-main-left {
    width: 155.3rem;
  }
}

.p-contents .p-top-img {
  height: 28.5rem;
  background: url(../../../images/sp_front_top_img.png) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.p-contents .p-top-img h2 {
  color: #FFFFFF;
  font-size: 2rem;
  margin-left: 4rem;
}

.p-contents .p-brunch-menu .p-brunch-menu__wrapper {
  padding: 2rem 2rem 0;
}

.p-contents .p-brunch-menu .p-brunch-menu__wrapper .p-brunch-takeout {
  height: 64.2rem;
  background: url(../../../images/sp_front_img1.png) no-repeat center center;
  background-size: cover;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 600px) {
  .p-contents .p-brunch-menu .p-brunch-menu__wrapper .p-brunch-takeout {
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 1025px) {
  .p-contents .p-brunch-menu .p-brunch-menu__wrapper .p-brunch-takeout {
    margin: 3rem 2rem 6rem 3rem;
  }
}

.p-contents .p-brunch-menu .p-brunch-menu__wrapper .p-brunch-eatin {
  height: 64.2rem;
  background: url(../../../images/sp_front_img2.png) no-repeat center center;
  background-size: cover;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1025px) {
  .p-contents .p-brunch-menu .p-brunch-menu__wrapper .p-brunch-eatin {
    margin: 3rem 3rem 6rem 2rem;
  }
}

@media only screen and (min-width: 600px) {
  .p-contents .p-brunch-menu .p-brunch-menu__wrapper {
    display: flex;
  }
}

.p-contents .p-access {
  height: auto;
  position: relative;
  height: 69.1rem;
  background: black;
  background-image: url(../../../images/front_bottom_img.png);
  background-size: contain;
  padding: 0 4.2rem;
}

.p-contents .p-access--black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 41.5rem;
  background-color: rgba(0, 0, 0, 0.29);
  color: #FFFFFF;
  padding: 4.2rem 4rem 0;
}

@media only screen and (min-width: 600px) {
  .p-contents .p-access--black {
    height: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  .p-contents .p-access--black {
    width: 61%;
  }
}

.p-contents .p-access--black h2 {
  top: 4rem;
  left: 0;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 3rem;
  color: #FFFFFF;
  text-align: left;
}

.p-contents .p-access--black h2:after {
  content: "";
  display: block;
  border-bottom: solid 0.2rem #FFFFFF;
  padding-bottom: 2rem;
  width: 7.5rem;
}

.p-contents .p-access--black p {
  margin-top: 3.5rem;
  font-size: 1.4rem;
  font-family: 'M PLUS 1p', sans-serif;
  color: #FFFFFF;
  line-height: 2.3;
}

.p-sidebar-close-btn {
  cursor: pointer;
  float: right;
  width: 3.3rem;
  height: 3.3rem;
  margin: 1rem 1rem 0 0;
}

@media only screen and (min-width: 1025px) {
  .p-sidebar-close-btn {
    display: none;
  }
}

.p-sidebar-close-btn span {
  display: block;
  background-color: #707070;
  width: .4rem;
  height: 3.3rem;
}

.p-sidebar-close-btn span:nth-of-type(1) {
  transform: translateX(1.45rem) rotate(45deg);
}

.p-sidebar-close-btn span:nth-of-type(2) {
  transform: translateX(1.45rem) translateY(-3.3rem) rotate(-45deg);
}

.p-sidebar__title {
  display: none;
}

@media only screen and (min-width: 600px) {
  .p-sidebar__title {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .p-sidebar__title {
    display: block;
    color: #707070;
    font-size: 2.5rem;
    margin-left: 4.6rem;
    padding-top: 6rem;
    font-weight: bold;
  }
}

.p-sidebar__menu {
  margin-left: 4.6rem;
  padding-top: 19rem;
}

@media only screen and (min-width: 1025px) {
  .p-sidebar__menu {
    padding-top: 6rem;
  }
}

.p-footer {
  background-image: url(../../../images/front_footer_brown_img.png);
  background-size: cover;
  color: #ffffff;
  text-align: center;
  height: 15rem;
}

.p-footer__menu {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.p-footer__menu li {
  font-size: 2rem;
}

.p-footer__menu--shop {
  margin-right: 1.5rem;
}

.p-footer__menu--history {
  position: relative;
  margin-left: 1.5rem;
}

.p-footer__menu--history:before {
  position: absolute;
  content: "";
  width: .2rem;
  right: 100%;
  background-color: #FFFFFF;
  height: 2rem;
  margin: 0 1.4rem;
  top: .5rem;
}

.p-footer__copyright {
  font-size: 1.4rem;
  padding-top: 3.4rem;
}

/*object-utility*/
/*# sourceMappingURL=style.css.map */