@import "../../foundation/mixin";

.c-brunch-menu{
    display: inline-block;
    text-align: center;
    padding-bottom: calc(1px + 2%);
    
    &__pic{
        position: relative;
        display: inline-block;
        max-width: 700px;
        
        img{
            width: calc(100vw - 10vw);
            @include breakpoint(tab){
                width: calc(50vw - 6vw);
                
            }
            @include breakpoint(pc){
                width: calc(40vw - 5vw);
                max-width: 700px;

            }
        }
        h2{
            position: absolute;
            top: 1%;
            left: 2%;
            color: #EAEAEA;
            font-size: 41px;
            padding: 11px 0 0 10px;
            font-family:'Roboto';
            
        }
        h2:after{
            content: "";
            display: block;
            border-bottom: solid 4px #FFFFFF;
            padding-bottom: 1 9px;
            width: 3 3px;
        }
        &__squares{
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 10px;
            left: 5%;
            width: calc(100% - 10%);
            font-family: 'M PLUS 1p';
            text-align: left;

        }
        
        &__square{
            display: inline-block;
            background-color: rgba(255, 255, 255, 0.8);
            color: #3C2A10;
            opacity: 0.8;
            padding: 0 10px;
            margin-bottom: 10px;
            
            dt{
                padding: 19px 0;
                font-size: 22px;
                font-weight: bold;
                
            }
            dd{
                font-size: 16px;
            }
        
        }
        
        
    }       
    @include breakpoint(tab){
        width: 50%;
        
    }
    
    
}
