@import "../../foundation/mixin";
.c-btn--archive{
    display: block;
    margin: 0 auto;
    width: 16.3rem;
    height: 4.2rem;
    background-color: #FFFFFF;
    color: #707070;
    font-size: 1.6rem;
    border-radius: 5rem;
    margin-top: 4rem;
    @include breakpoint(pc){
        width: 20.2rem;
        height: 5.5rem;
        margin-top: 7rem;
    }

}
