@use "../../../scss/foundation/index" as f;
.c-btn--archive{
    display: block;
    margin: 0 auto;
    width: 163px;
    height: 42px;
    background-color: #FFFFFF;
    color: #707070;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    @include f.breakpoint(tab){
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
    }
    @include f.breakpoint(pc){
        width: 202px;
        height: 55px;
        margin-top: 70px;
    }

}

