@use "../../../scss/foundation/index" as f;
.c-card{
    margin-bottom: 20px;
    
    &--pic{
        &--tab,&--pc{
            display: none;
        }
        @include f.breakpoint(tab){
            width: 50%;  
            &--sp,&--pc{
                display: none;
            }
            &--tab{
                display: block;
            }
        }
        @include f.breakpoint(pc){
            &--sp,&--tab{
                display: none;
            }
            &--pc{
                display: block;
            }
        }

    }
    @include f.breakpoint(tab){
        height: 500px; 
    }
    
    
    &--intro{
        position: relative;
        padding: 23px 17px 45px;
        background-color: #3C2B1C;
        color: #FFFFFF;
        height: auto;
        h3{
            font-size: 20px;
            text-align: left;
            margin: 23px 0 23px;
            @include f.breakpoint(pc){
                font-size: 36px;
            }

        }
        h4{
            font-size: 16px;
            font-weight: bold;
            text-align: left;
            margin-bottom: 10px;
            @include f.breakpoint(pc){
                font-size: 24px;
            }
        }
        p{
            font-size: 16px;
            text-align: left;
            margin-right: 56px;
        }
        @include f.breakpoint(tab){
            width: 50%;  
        }
        

    }
    
@include f.breakpoint(tab){
    display: flex;

}

}