@import "../../foundation/mixin";
.c-card{
    margin-bottom: 2rem;
    &--pic{
        @include breakpoint(tab){
            width: 50%;  
        }
        @include breakpoint(pc){
            
        }
        


    }
    
    
    &--intro{
        padding: 2.3rem 1.7rem 4.5rem;
        background-color: #3C2B1C;
        color: #FFFFFF;
        height: auto;
        h3{
            font-size: 2rem;
            text-align: left;
            margin: 2.3rem 0 2.3rem;
            @include breakpoint(pc){
                font-size: 3.6rem;
            }

        }
        h4{
            font-size: 1.6rem;
            font-weight: bold;
            text-align: left;
            margin-bottom: 1rem;
            @include breakpoint(pc){
                font-size: 2.4rem;
            }
        }
        p{
            font-size: 1.6rem;
            text-align: left;
            margin-right: 5.6rem;
        }
        @include breakpoint(tab){
            width: 50%;  
        }
        

    }
@include breakpoint(tab){
    display: flex;

};

}