@import "../../foundation/mixin";
.c-card{
    
    margin: 2.1rem 2rem 0;
    
    
    &--bottom{
        padding: 2.3rem 1.7rem 4.5rem;
        background-color: #3C2B1C;
        color: #FFFFFF;
        
        h3{
            font-size: 2rem;
            text-align: left;
            margin: 2.3rem 0 2.3rem;
        }
        h4{
            font-size: 1.6rem;
            font-weight: bold;
            text-align: left;
            margin-bottom: 1rem;
        }
        p{
            font-size: 1.6rem;
            text-align: left;
            margin-right: 5.6rem;
        }

    }
@include breakpoint(tab){

};

}