@import "../../foundation/mixin";
.p-change-btn{
    height: 11.4rem;
    padding: 6.1rem 2rem 3.1rem;
    font-size: 1.6rem;
    color: #707070;
    display: flex;
    justify-content: space-between;
    
    
}
