@import "../../foundation/mixin";
//front-page
.p-main-left{
    width: 100%;
    text-align: center;
    @include breakpoint(pc){
        text-align: initial;
        
    }
    

    &__header{
        background-color: #FFF7EF;
        @include breakpoint(pc){
            display: flex;
            justify-content: space-between;
        }
        &__btn{
            font-weight: bold;
            font-size: 2rem;
            float: right;    
            color: #707070;
            font-family: 'Roboto';
            margin: 1.4rem 1.4rem 0 0;
            
            @include breakpoint(pc){
            display: none;
        }
        
            
        }
        h1{
            font-size: 4rem;
            font-family: 'Roboto';
            color: #707070;
            margin: 3.9rem 0 3.9rem 0;
            clear: both;
            @include breakpoint(pc){
                padding-left: 2rem;
                
            }
            
            
        }
        .p-search-form{
            @include breakpoint(pc){
                display: flex;
                align-items: center;
                padding-right: 2rem;
                
            }
            .p-search-form__keyword{
                position: relative;
                height: 4.6rem;
                width: 25rem;
                background-color: #FFFFFF;
                border: solid .1rem #707070;
                border-radius: 1rem;
                margin-right: 1rem;
                color: #707070;
                margin-bottom: 3.9rem;
                @include breakpoint(pc){
                    transform: translateY(45%);
                }
            
            }
            
            
            .p-search-form__submit{
                height: 4.6rem;
                width: 7.8rem;
                background: linear-gradient(#F2EDE9, #DED8D3);
                border: solid .1rem #707070;
                border-radius: 1rem;
                font-family: 'M PLUS 1p', sans-serif;
                color: #707070;
                font-size: 1.6rem;
                
            
            }

        }
        
        
        


    }
    @include breakpoint(pc){
        width: 155.3rem;

    }

}




//archive
