@use "../../../scss/foundation/index" as f;
//front-page
.p-main{
    width: 100%;
    text-align: center;
    @include f.breakpoint(pc){
        text-align: initial;
        width: 80%;
        
    }
    

    &-header{
        background-color: #FFF7EF;
        @include f.breakpoint(pc){
            display: flex;
            justify-content: space-between;
        }
        &__btn{
            font-weight: bold;
            font-size: 20px;
            float: right;    
            color: #707070;
            font-family: 'Roboto';
            margin: 14px 14px 0 0;
            
            @include f.breakpoint(pc){
            display: none;
        }
        
            
        }
        h1{
            font-size: 40px;
            font-family: 'Roboto';
            color: #707070;
            margin: 39px 0 39px 0;
            clear: both;
            @include f.breakpoint(pc){
                padding-left: 20px;
                
            }
            
            
        }
        .p-search-form{
            display: flex;
            justify-content: center;
            padding-bottom: 30px;
            @include f.breakpoint(pc){
                display: flex;
                align-items: center;
                padding-right: 20px;
                padding-bottom: 0;
                
            }
            .p-search-form__box{
                position: relative;
                font-size: 16px;

                &__keyword{
                    height: 46px;
                    width: 250px;
                    padding-left: 40px;
                    background-color: #FFFFFF;
                    border: solid 1px #707070;
                    border-radius: 10px;
                    margin-right: 10px;
                    color: #707070;
                    vertical-align: top;
                
                
                }
            }
            .p-search-form__box::before{
                content:"";
                width: 20px;
                height: 20px;
                background: url(/images/magnifying-glass.svg) no-repeat center center;
                display: inline-block;
                position: absolute;
                top: 15px;
                left: 15px;

            }

            
            
            .p-search-form__submit{
                height: 46px;
                width: 78px;
                background: linear-gradient(#F2EDE9, #DED8D3);
                border: solid 1px #707070;
                border-radius: 10px;
                font-family: 'M PLUS 1p', sans-serif;
                color: #707070;
                font-size: 16px;
                vertical-align: top;
                
            
            }

        }
        
        
        


    }
    

}
.p-main.active{
    position: fixed;
}





