@import "../../foundation/mixin";
.p-page-btn{
    height: 11.4rem;
    padding: 6.1rem 2rem 3.1rem;
    font-size: 1.6rem;
    color: #707070;
    display: flex;
    justify-content: space-between;
    
    @include breakpoint(tab){
        
        align-items: center;
        justify-content: center;

    }
    &--num{
        display: none;

        @include breakpoint(tab){
            width: 3rem;
            height: 3rem;
            border:solid #707070 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1.5rem;
        }
        a{
            @include breakpoint(tab){
                display: block;
                font-family: 'Roboto', sans-serif;

            }
        
            
           
        }
    }
    &--num:nth-of-type(3){
        @include breakpoint(tab){
            margin-left: 1.5rem;
        }

    }
    &--num:hover{
        @include breakpoint(tab){
        background-color: #3C2B1C;
        color: #FFFFFF;
        }
    
    }  
    
    &--prev{
        transform: translateX(-21vw);
        @include breakpoint(tab){
            display: none;
        }

    }
    &--next{
        transform: translateX(21vw);
        @include breakpoint(tab){
            display: none;
        }

    }
        
 
}
