@import "../../foundation/mixin";

.p-sidebar--narrow{
    margin-left: 10%;
    height: 100%;
    background-color: #F2EDE9;
    color: #707070;
    @include breakpoint(tab){
        margin-left: 60%;
    }
    @include breakpoint(pc){
        margin-left: 0;
    }
    &__close-btn{
        cursor: pointer;
        float: right;
        width: 3.3rem;
        height: 3.3rem;
        margin: 1rem 1rem 0 0;
        @include breakpoint(pc){
            display: none;
        }
        span{
            display: block;
            background-color: #707070;
            width: .4rem;
            height: 3.3rem;
    
        }
        span:nth-of-type(1){
            transform: translateX(1.45rem) rotate(45deg);
    
            
        }
        span:nth-of-type(2){
            transform: translateX(1.45rem) translateY(-3.3rem) rotate(-45deg);
            
        }
    
    
    }
    
    
    &__title{
        display: none;
        @include breakpoint(tab){
            display: none;
        }
        
        @include breakpoint(pc){
            display: block;
            color: #707070;
            font-size: 2.5rem;
            margin-left: 4.6rem;
            padding-top: 6rem;
            font-weight: bold;

            
        }
    }
    &__menu{
        margin-left: 4.6rem;
        padding-top: 19rem;
        @include breakpoint(pc){
            padding-top: 6rem;
        }
        
    }

}
