@use "../foundation/index" as f;

.l-sidebar{
    overflow-y: scroll;
    top: 0;
    width: 100%;
    position: fixed;
    left: 100%;
    transition: all .6s;
    @include f.breakpoint(pc){
        width: 20%;
        position: static;
        overflow-y: hidden;


    }
}
.l-sidebar.active{
    left: 0;
    z-index: 10;
    transition: all .6s;
    height: 100%;
    
}